@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello</h1>

Welcome to the household website for the Polic family. If you don't have an account registered, ask someone
who has access to register you, otherwise you will not be able to access the rest of the website.