<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Manage Accounts</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
